

/* Variabler: */
:root{
    --main-color: #82CCCD;
    --second-color: #C5A689;
    --highlight: #efeae1; 
    --text-color: #613914;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: var(--main-color) !important;
}
.navbar-toggler{
    border: none !important;
    color: var(--highlight) !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(239, 234, 225)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.descriptor {
    display: block;
    position: fixed;
    z-index: 50;
    width: 100vh;
    text-align: center;
    font-size: 15px;
}
.descriptor-left {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%, 2rem);
}
.descriptor-right {
    right: 0;
    transform-origin: top right;
    transform: rotate(90deg) translate(100%, 2rem);
}
.footer{
    background-color: var(--main-color);
}
@media screen and (min-width:768px) {
    .descriptor {
        font-size: 24px;
    }
}