

/* Variabler: */
:root{
    --main-color: #82CCCD;
    --second-color: #C5A689;
    --highlight: #efeae1; 
    --text-color: #613914;

}
/* Generel styling: */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--second-color);
    color: var(--text-color);
}
ul {
    /* Styling lister */
    list-style-type: none; /* Fjerner bullets fra lister */
    padding-left: 0;
}
video{
    width: 100%; /* Banner-video fylder hele skærmen */
}
h2{
    text-align: center;
}
/* Navbar styling: */
.navbar{
    background-color: var(--main-color) !important;
    padding: 0 !important;
    height: min-content !important;
}
.navbar-toggler{
    border: none !important;
    color: var(--highlight) !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(239, 234, 225)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link {
    color: var(--highlight);
    text-align: center;
}
.nav-link:hover{
    color: var(--text-color);
}
/* Anchor, der bruges til at "hoppe" op/ned på siden via navbar */
.anchor{
    display:block;
    height:80px; /*højde på header*/
    margin-top:-80px; /*negative højde på header*/
    visibility:hidden;
}
/* Styling af dato og lokation i siderne, disse kaldes "descriptor" */
.descriptor {
    display: block;
    position: fixed;
    z-index: 50;
    width: 100vh;
    text-align: center;
    font-size: 15px;
    color: var(--highlight);
    transition: .15s ease-in-out;
}
.descriptor-left {  /* Placering lokation */
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%, 2rem);
}
.descriptor-right {  /* Placering dato */
    right: 0;
    transform-origin: top right;
    transform: rotate(90deg) translate(100%, 2rem);
}
.change-descriptor{    /* Ændring af farve på descriptor */
    .descriptor{
        color:var(--text-color);
        transition: color .15s ease-in-out;
    }
}
/* Styling grid*/
.container{
    width: 70%;
}
.row{
    margin: 3em auto;
}
/* Vis elementer på mobile-view og fjern elementer fra desktop-view */
.mobile{
    display: inline;
}
.desktop{
    display: none;
}
/* Styling vektor-bølge-sektion */
.wave-content{
    position: relative;
}
.wave-img-top img{
    width: 100%;
    margin-top: -15%;     /* Får bølge til at overlappe billeder */
}
.wave-img-bottom img{
    margin-bottom: -13%; /* Får bølge til at overlappe billeder */
}
/* Styling banner-knap */
.btn{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.75rem 2rem;

    background-color: var(--main-color);
    border: none;
    transition: .15s ease-in-out;
}
.btn:hover{
    background-color: var(--text-color);
}
/* Styling stemningsbilleder karousel */
.carousel-inner{
    z-index: -1 !important;
}
/* Styling "Om Bølgebrus"-sektion */
.about{
    color: var(--highlight);
    padding: 5em 0;
}
.about p{
    margin: 0;
}
/* Styling "Program"-sektion */
.accordion-button.collapsed{
    background-color: var(--highlight);
    color: var(--text-color);
    border: solid 1px var(--second-color);
}
.accordion-button:not(.collapsed){
    background-color: var(--main-color);
    color: var(--highlight);
}
.accordion-body{
    background-color: var(--highlight);
    color: var(--text-color);
}
.program-column.row{
    margin: 0 auto;
}
.program h1{
    color: var(--highlight);
}
.program-column p{
    margin: 0;
    margin-bottom: 1em;
}
.program a{
    color: var(--text-color);
    transition: .15s ease-in-out;
}
.program a:hover{
    color: var(--main-color);
    transition: .15s ease-in-out;
}
/* Styling "Kort"-sektion */
.map{
    background-color: var(--main-color);
    padding-top: 2em;
    cursor: zoom-in;
}
.lightbox {
    display: none; /* Skjules med det samme */
    position: fixed;
    z-index: 9999;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(31, 34, 80, 0.7);
    justify-content: center;
    align-items: center;
} 
.lightbox img {
    max-width: 100%;
    max-height: 100%;
    cursor: zoom-out;
}
/* Styling "Sponsorer"-sektion */
.sponsorer{
    padding-top: 2em;
    background-color: var(--highlight);
}
.sponsorer h1{
    color: var(--text-color) !important;
}
.sponsorer-lynaes.row{
    margin-bottom: 0;
}
.eksterne-sponsorer{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10em;
}
.col-12-sponsors{
    width: 100%;
}
/* Styling "Ofte stillede spørgsmål"-sektion */
.faq, .program-column{
    padding: 1em;
    margin: 1em 0.5em;
    background-color: var(--highlight);
    color: var(--text-color);
    border-radius: 0.375rem; /* Border-radius-værdi taget fra Bootstrap */
}
.ofte-stillede-spørgsmål h1 {
    text-align: center;
}
/* Footer */
footer{
    padding-top: 3rem;
    background-color: var(--main-color);
    color: var(--highlight);
}
footer a{
    color: var(--highlight);
    transition: .15s ease-in-out;
}
footer a:hover{
    color: var(--text-color);
    transition: .15s ease-in-out;
}
.footer.row, .some.row{
    margin: 0;
}
.footer-logo img{
    max-width: 150px;
}
.some.row {
    justify-content: center;
}
.some.col-2 {
    padding: 0 3em 0 0;
}
.some svg:hover{
    color: var(--highlight);
    transition: color .15s ease-in-out;
}
.contact, .carbon-badge{
    padding-bottom: 3rem;
}
.contact h2, .contact p{
    text-align: center;
}
/* Media queries */
@media screen and (min-width:768px) {
    /* Vis elementer på desktop-view og fjern elementer fra mobile-view */
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    /* Ændrer navbar højde på desktop: */
    .navbar{
        min-height: 80px !important;
    }
    .navbar-brand img{
        height: 70px;
    }
    .navbar-toggler-icon{
        height: 50px !important;
        width: 50px !important;
    }
    .btn{
        top: 40%; /* Ændrer placering af knap i banner */
    }
    .descriptor {
        font-size: 24px; /* Ændrer størrelse på tekst for dato og lokation */
    }
    /* Ændrer formattering af bølge: */
    .wave-img-top img{
        margin-top: -7%;
    }
    .wave-img-bottom img{
        margin-bottom: -7%;
    }
    /* Ændrer størrelsen på kolonner for program og ofte-stillede spørgsmål */
    .faq, .program-column{
        max-width: 31.9%;
        margin: 0 auto;
    }
    /* Ændrer footer formattering */
    .footer-logo, .contact{
        margin: 0;
    }
    .footer-logo img{
        margin: 0 auto;
        margin-right: 3em;
        max-height: 200px;
        max-width: 200px;
        display: block;
        margin-left: auto;
    }
    .contact{
        width: max-content;
        margin-left: 3em;
    }
    .contact h2, .contact p{
        text-align: start;
    }
    .some.row {
        justify-content: left;
    }
}
@media screen and (min-width:992px) {
    .btn{
        top: 45%; /* Ændrer placering af knap i banner */
    }
}
@media screen and (min-width:1080) {
    .btn{
        top: 47%; /* Ændrer placering af knap i banner */
    }
}
@media screen and (min-width:1200px){
    .container{
        width: 100%; 
        /* Får griddet til at fylde hele skærmen */
    }
    .btn{
        top: 50%; /* Ændrer placering af knap i banner */
    }
}
@media screen and (min-width:1400px) {
    .btn{
        top: 60%; /* Ændrer placering af knap i banner */
    }
}